.env
EmotiAI.egg-info
__pycache__
mlruns
/airflow/logs
/airflow/dags/output
_state
indices
snapshot_cache
nodes
node.lock


/infras/ansible/secrets/*.json
/infras/terraform/secrets/*.json
/infras/ansible/inventory

.terraform.lock.hcl
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
