nltk==3.9.1
loguru==0.7.3
mlflow==2.20.3
minio==7.2.13
apache-airflow==2.7.1
apache-airflow-providers-postgres==5.6.1
airflow-provider-great-expectations==0.2.6
tensorflow==2.18.0
tf-keras==2.18.0
keras-nlp==0.19.2
tensorflow-metal==1.2.0
tensorflow-hub==0.16.1
tensorflow-text==2.18.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
numpy==1.26.4
s3fs==2025.2.0
boto3==1.37.0
aiobotocore==2.21.0
botocore==1.37.0
ansible==11.3.0
requests==2.31.0
google-auth==2.28.1